/** Allgemeines **/
html, body { margin:0; padding:0; }
html { height: 100%; width:100%; font-family: 'Ubuntu', sans-serif; }
body { 
	background-image: linear-gradient(bottom, #a00, #100) fixed no-repeat;
	background: -moz-linear-gradient(bottom, #a00, #100) fixed no-repeat;
	background: -o-linear-gradient(bottom, #a00, #100) fixed no-repeat;
	background: -webkit-linear-gradient(bottom, #a00, #100) fixed no-repeat;
	background: -ms-linear-gradient(bottom, #a00, #100) fixed no-repeat;
}
a:LINK, a:VISITED { text-decoration: none; }
a:HOVER, a:FOCUS { text-decoration: underline; }
.content { width: 994px; margin:0 auto; position: relative; }


/** Content **/
#main {
	margin: 100px 0 0 0;
	width:100%;
}

#main .content { 
	width: 900px;
	background: rgba(153,153,153,.8);
	padding:10px;
	border-radius: 10px; 
	min-height: 300px;
}

/** Header **/
header {
	display: block;
	position: fixed;
	top:0;
	left:0;
	height: 40px;
	width: 100%;
	/*background: rgba(50,50,50,.4);*/
	background-color:#000;
	color:#fff;
}
header h1 {
	margin:0 10px;
	padding:0;
	line-height: 40px;
	font-size: 20px;
	display:block;
	width: 250px;
}
header h1 a { color:#fff; }
header a:HOVER, header a:FOCUS { text-decoration: none; }

/** Footer **/
footer {
	display: block;
	position: fixed;
	bottom:0;
	left:0;
	height: 40px;
	width: 100%;
	/*background: rgba(50,50,50,.4);*/
	background-color:#000;
	color:#fff;
}

/** Navigation **/
nav { position: absolute; top:0; left: 300px; height: 40px; }
menu { margin:0; padding:0; list-style: none; }
menu li { height: 40px; line-height: 40px; float:left; border-right: 1px solid #fff;  }
menu li:FIRST-CHILD { border-left:1px solid #fff; }
menu li a { 
	color:#fff; 
	font-weight: bold;  
	height: 40px; 
	line-height: 40px; 
	padding: 0 10px; 
	display: block; 
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
menu li a:HOVER { color: #000; background-color: #fff; }

